apps/btc-guess-api/serverless.yml
service: btc-guessing-game-api

useDotenv: true

provider:
  name: aws
  runtime: nodejs20.x
  region: us-east-1
  environment:
    PLAYERS_TABLE: ${self:service}-players-${sls:stage}
    GUESSES_TABLE: ${self:service}-guesses-${sls:stage}
    STATE_MACHINE_ARN: arn:aws:states:${aws:region}:${aws:accountId}:stateMachine:${self:service}-${sls:stage}-resolve-guess
    COINGECKO_API_KEY: ${env:COINGECKO_API_KEY}
  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - dynamodb:GetItem
            - dynamodb:PutItem
            - dynamodb:UpdateItem
            - dynamodb:Query
            - dynamodb:Scan
          Resource:
            - arn:aws:dynamodb:${aws:region}:${aws:accountId}:table/${self:provider.environment.PLAYERS_TABLE}
            - arn:aws:dynamodb:${aws:region}:${aws:accountId}:table/${self:provider.environment.GUESSES_TABLE}
        - Effect: Allow
          Action:
            - states:StartExecution
          Resource:
            - ${self:provider.environment.STATE_MACHINE_ARN}

functions: ${file(resources/functions.yml)}

stepFunctions:
  stateMachines:
    ResolveGuessStateMachine:
      id: ResolveGuessStateMachine
      name: ${self:service}-${sls:stage}-resolve-guess
      definition:
        Comment: "Waits 60s then resolves a BTC price guess. Retries if price hasn't moved."
        StartAt: Wait60Seconds
        States:
          Wait60Seconds:
            Type: Wait
            Seconds: 60
            Next: FetchPriceAndResolve

          FetchPriceAndResolve:
            Type: Task
            Resource: arn:aws:lambda:${aws:region}:${aws:accountId}:function:${self:service}-${sls:stage}-resolveGuess
            ResultPath: "$.resolveResult"
            Retry:
              - ErrorEquals:
                  - Lambda.ServiceException
                  - Lambda.AWSLambdaException
                  - Lambda.SdkClientException
                  - Lambda.TooManyRequestsException
                IntervalSeconds: 2
                MaxAttempts: 3
                BackoffRate: 2
            Catch:
              - ErrorEquals:
                  - States.ALL
                ResultPath: "$.error"
                Next: Failed
            Next: DidPriceMove

          DidPriceMove:
            Type: Choice
            Choices:
              - Variable: "$.resolveResult.priceUnchanged"
                BooleanEquals: true
                Next: WaitForPriceChange
            Default: Resolved

          WaitForPriceChange:
            Type: Wait
            Seconds: 5
            Next: FetchPriceAndResolve

          Resolved:
            Type: Succeed

          Failed:
            Type: Fail
            Error: "ResolutionFailed"
            Cause: "Lambda failed after retries"

resources:
  Resources:
    PlayersTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.PLAYERS_TABLE}
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - AttributeName: playerId
            AttributeType: "S"
        KeySchema:
          - AttributeName: playerId
            KeyType: HASH

    GuessesTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.GUESSES_TABLE}
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - AttributeName: playerId
            AttributeType: "S"
          - AttributeName: timestamp
            AttributeType: "N"
        KeySchema:
          - AttributeName: playerId
            KeyType: HASH
          - AttributeName: timestamp
            KeyType: RANGE

plugins:
  - serverless-esbuild
  - serverless-step-functions

custom:
  esbuild:
    bundle: true
    minify: false
    sourcemap: true
    target: node20
